<div class="card mb-4 shadow-sm">
    <title>Placeholder</title>
    <% if home.photos.attached? %>
      <img src="<%= (url_for(home.photos.first)) %>" height="225">
    <% else %>
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <rect fill="#55595c" width="100%" height="100%"></rect>
      </svg>
    <% end %>
  <div class="card-body">
    <h5>
      <%= home.street %>
    </h5>
    <p class="card-text">
      <%= home.city %>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-muted">
        <%= home.tv %>
        views
      </small>
    </div>
  </div>
</div>