<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <tbody>
        <% HomeController::PERMITED_PARAMS.each do |field| %>
          <% next unless field.is_a?(Symbol) %>
          <tr>
            <td>
              <%= field.capitalize %>
            </td>
            <td>
              <%= home.try(field) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>