<h1>Edit Home</h1>

<%= form_for(@home, method: :patch, validate: true) do |form| %>
  <%= render partial: 'form', home: @home, locals: { form: form } %>
<% end %>

<%= link_to 'Back', home_index_path %>
