<div class="album py-5 bg-light">
  <div class="container">
    <div class="list-title">
      <h1>My homes</h1>
      <a type="button" class="btn btn-success" href="/home/new">Add Home</a>
    </div>

    <div class="row">
      <% @homes.each do |home| %>
        <%= link_to render(partial: 'home/card', locals: { home: home }), home, class: 'col-md-4' %>
      <% end %>
    </div>
  </div>
</div>