<h1>New Home</h1>

<%= form_for(@home, method: :post, validate: true) do |form| %>
  <%= render partial: 'form', home: @home, locals: { form: form } %>
<% end %>

<%= link_to 'Back', home_index_path %>
