<h2>Home <%= @home.id %></h2>

<% if @home.photos.attached? %>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @home.photos.each do |photo| %>
        <div class="carousel-item active">
          <img src="<%= (url_for(photo)) %>" class="d-block w-100" alt="...">
        </div>
      <% end %>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
<% end %>

<%= render partial: 'home', home: @home, locals: { home: @home } %>

<% if @home.posts.active.any? %>
  <% @home.posts.active.each do |post| %>
    <%= link_to 'post', post_path(post) %>
  <% end %>
<% end %>