<div class="album py-5 bg-light">
  <div class="container">
    <h1>Posts</h1>
    <div class="row">
      <% @posts.each do |post| %>
        <%= link_to render(partial: 'posts/card', locals: { post: post }), post, class: 'col-md-4' %>
      <% end %>
    </div>
  </div>
</div>