/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

@import 'bootstrap';
@import 'font-awesome';

.profile_icon {
  width: 45px;
  height: 45px;
}

a:hover {
  background-color:rgba(0, 0, 0, 0);
  text-decoration: none;
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: #ffffff;
  }
}

.main-slider {
  width: 100%;
}

.main-max-width {
  background-color: #f8f9fa !important;
  max-width: 1500px;
  margin: auto;
}

.main-posts-page {
  display: flex;
}

.filter-main {
  height: 900px;
  width: 300px;
  padding: 20px;
  margin-right: 30px;
  padding-left: 40px;
}

.form-signin {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: -100px;

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.form-center {
  height: 100%;
  display: flex;
  align-items: center;
}

.empty-main {
  height: 100%;
}

.middle_field {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-in {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.sign-up {
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.home-carousel {
  margin: auto;
  max-width: 1000px;
}

.comforts-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: #eee;
}

.comfort-point-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  height: 40px;
  margin: 5px;
}

.card-link {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.carousel-control-index {
  z-index: 200;
}

.card-date {
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.card-price {
  display: flex;
  justify-content: space-between;
}

.title-badge {
  font-size: 15px;
  color: gray;
}

.post-show {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.show-post-price {
  color: white;
  margin-top: -60px;
  font-size: 26px;
  position: fixed;
  right: 0;
  padding: 15px;
  background-color: #28a745;
  z-index: 100;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.show-post-contacts {
  font-size: 26px;
  margin-top: 20px;
  position: fixed;
  right: 0;
  z-index: 100;

  button {
    width: 65px;
    height: 54px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.w-300 {
  width: 300px;
}

.pad-1-25 {
  padding: 1.25rem;
}

.footer-line {
  border-top: 1px solid lightgray;
}

.form-signin {
  margin-top: 50px;
}

.remember-check {
  text-align: left;
}

.login-forgot {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.form-signin {
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 30px;
}

.index-sorters {
  display: flex;
  align-content: end;
  justify-content: flex-end;
  padding: 20px 0 20px 20px;
}

.w-px-150 {
  width: 150px;
}

.show-borders {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #eee;
  margin-bottom: 96px;
  font-size: 20px;
  border-radius: 30px;
}

.check-mark {
  font-size: 32px;
  color: #68b300;
}

.check-cross {
  font-size: 32px;
  color: #dc3545;
}

.pagination {
  justify-content: center;
}

.pagination-nav {
  ul {
    .prev {
      a, span {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
    }

    .next {
      a, span {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }

    .active {
      span {
        z-index: 1;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
      }
    }
    li {
      a, span {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;
      }
    }
  }
}

.footer-center {
  text-align: center;
}